@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

  @layer utilities {

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;     
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100vh;  
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}